@media screen and (min-width: 1201px){
    

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}
:root{
    --colorOne:#BDBEBF;
    --colorTwo: #525559;
    --colorTree: #D9D9D9
}
body{
background: #e7e7e7;
display: flex;
justify-content: center;
align-items: center;
}
.layoutform{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
.formcontainer{
    max-width: 1200px;
 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 5%;
    
}
.inputcep {
    width: 90px;
}

.bulet{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bkform{
    width: 100%;
    height: 30vh;
 

}
.bkform img{
    width: 100%;
    object-fit: cover;
    
}
.buletStep{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    display: flex;
    font-weight: 500;
    margin: 25px 0 50px 0;

}
.numberBulets{
    width: 50px;
    height:50px;
    border-radius: 50px;
    background-color: var(--colorTwo);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    color: var(--colorOne);
}
.labelform{
    width: 49%;
    min-height: 12vh;
    
    display: block;
    
    margin-bottom: 35px;  
}

.labelform2{
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    
    margin-bottom: 35px ;
   
}
.textTilt{
    width: 100%;
    min-height: 40px;
    font-weight: 500;
    padding-bottom:  5px;
    font-size: 1rem;
    line-height: 1em;
    display: block;
    

}
.Titlefilho{
    width: 100%;
    padding: 0 5px;
    height: 4vh;
    font-weight: 600;   
    display: flex;
    font-size: 0.9rem;
}
.textNumb{
    width: 100%;
    padding: 0 5px;
    height: 4vh;
    font-weight: 600;   
    display: flex;
    font-size: 0.9rem;
}

 
[type="tel"]{
    min-width: 100%;
    border-radius: 3px;
    border: 1px solid var(--colorTwo);
    height: 4vh;
    color: var(--colorTwo);
    
    font-size: 1rem;
    padding: 0 5px;
 
    display: flex;
    
    
}
[type="date"]{
    min-width: 100%;
    border-radius: 3px;
    border: 1px solid var(--colorTwo);
    height: 4vh;
    color: var(--colorTwo);
    
    font-size: 1rem;
    padding: 0 5px;
 
    display: flex;
    
    
}

[type="email"]{
    min-width: 100%;
    border-radius: 3px;
    border: 1px solid var(--colorTwo);
    height: 4vh;
    color: var(--colorTwo);
    
    font-size: 1rem;
    padding: 0 5px;
 
    display: flex;
    
    
}

[type="text"]{
    min-width: 100%;
    border-radius: 3px;
    border: 1px solid  var(--colorTwo);
    height: 4vh;
    color: var(--colorTwo);
    
    font-size: 1rem;
    padding: 0 5px;
 
    display: flex;
    
    
}

select
{
    min-width: 100%;
    border-radius: 3px;
    border: 1px solid var(--colorTwo);
    height: 4vh;
    color: var(--colorTwo);
    
    font-size: 1rem;
    padding: 0 5px;
 
    display: flex;
    
    
}
input[type="number"]{
    width: 100%;
    height: 4vh;
    border-radius: 3px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
button{
    padding: 10px;
    font-size: 1rem;
    width: 150px;
    border-radius: 3px;
    border: none;
    background-color: var(--colorTwo);
    color: var(--colorOne);
    cursor: pointer;
}

.form{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    border-radius: 10px;   
    background: #fff;
}


.sectionform{
    max-width:100%;
    height: auto;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5%;
}

.blockform{
width: 100%;
height: auto;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between; 
  
}

.addres{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    justify-content: space-around;
}
.sectionvalue{
    width: 100%;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
}
.btnssecionone{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:15px;
    margin-top: 50px ;
    flex-wrap: wrap;
}
#btnprimary{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    
    margin-top: 50px ;
    flex-wrap: wrap;
}

 
.inforFilhos{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   
}
.numberfilho {
display: flex;
width:60% ;
flex-direction: column;
    justify-content: space-between;
    flex: 1 1 400;
    padding: 5px;
    margin-top: 9px ;

}
.numberfilho, input[type="number"]{
    width: 100%;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.agefilho{
width: 30%;
display: flex;
flex-direction: column;
justify-content: space-between;
flex: 1 1 400;
padding: 5px;
margin-top: 9px ;
}
.justificativa{
    width: 100%;
    padding: 2% 0;
}
textarea{
  /* border: none; */
  padding: 2%;
  border-radius: 5px;
    
    
    
}



}


