*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}
:root{
    --colorOne:#BDBEBF;
    --colorTwo: #525559;
    --colorTree: #D9D9D9
}
body{
background: #e7e7e7;
}
.layoutform{
    width: 100%;
    
    display: flex;
    justify-content: center;
}
.formcontainer{
    max-width: 900px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.bulet{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.buletStep{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    display: flex;
    font-weight: 500;
    margin: 50px 0 100px 0;

}
.numberBulets{
    width: 50px;
    height:50px;
    border-radius: 50px;
    background-color: var(--colorTwo);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    color: var(--colorOne);
}
.labelform{
    width: 400px;
    display: block;
    padding: 5px;
    
}
.textTit{
    width: 200px;
}

input[type="text"], 
[type="tel"],
[type="date"],
[type="email"], 
select
{
    width: 350px;
    border-radius: 3px;
    border: 0.5px  var(--colorTwo);
    height: 4vh;
    margin: 10px 0;
    color: var(--colorTwo);
    font-size: 1rem;
    padding: 0 5px;
}
button{
    padding: 10px;
    font-size: 1rem;
    width: 150px;
    border-radius: 3px;
    border: none;
    background-color: var(--colorTwo);
    color: var(--colorOne);
    cursor: pointer;
}

.form{
    max-width: 850px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    /* overflow-x:hidden; */
    
}

.blockform{
    width: 900px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    
    padding: 5%;
    
    
   
}
.sectionform{
display: block;
width: 100%;
height: 100%;
}

.addres{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}
.sectionvalue{
    width: 800px;
    
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
}
.btbtnsseciononens{
    width: 100%;
    display: flex;
    justify-content:right;
    align-items: center;
    padding:0  55px 0 15px;
    margin-top: 150px ;
    flex-wrap: wrap;
}



